<div class="wrapper">
  <mat-toolbar class="mat-elevation-z8" color="primary">Registro de Servicios</mat-toolbar>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>
            Tus servicios
            <button mat-icon-button class="services-filter" [matMenuTriggerFor]="servicesFilter">
              <fa-icon [icon]="faFilter"></fa-icon>
            </button>
            <mat-menu #servicesFilter="matMenu" xPosition="before">
              <button class="button-editor" mat-menu-item  (click)="onFilterTechServices('ALL')">
                <mat-icon [color]="(selectedFilter$ | async) === 'ALL' ? 'primary' : 'accent'">
                  <fa-icon [icon]="faTasks"></fa-icon>
                </mat-icon>
                <span>Todos</span>
              </button>
              <button class="button-editor" mat-menu-item (click)="onFilterTechServices('COMPLETED')">
                <mat-icon [color]="(selectedFilter$ | async) === 'COMPLETED' ? 'primary' : 'accent'">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </mat-icon>
                <span>Completados</span>
              </button>
              <button class="button-editor" mat-menu-item (click)="onFilterTechServices('UNCOMPLETED')">
                <mat-icon  [color]="(selectedFilter$ | async) === 'UNCOMPLETED' ? 'primary' : 'accent'">
                  <fa-icon [icon]="faSquare"></fa-icon>
                </mat-icon>
                <span>No Completados</span>
              </button>
            </mat-menu>

            <mat-chip-list class="services-filter-info" *ngIf="techServices$ | async as services">
              <mat-chip [disabled]=true>
                {{'Mostrando ' + services.length + ' servicios'}}
              </mat-chip>
            </mat-chip-list>
          </h2>
          <div class="container">
            <div *ngFor="let service of techServices$ | async" class="row align-items-center">
              <div class="col-md-1">
                <mat-checkbox [checked]="service.checked" (change)="onCheckTechService(service)" color="primary"></mat-checkbox>
              </div>
              <div class="col-md-11">
                <mat-card   (click)="onSelectTechService(service.id)">
                  <h3 [ngClass]="{'title-done': service.checked}">{{service.title}}</h3>
                  <small>{{service.author}}</small>
                </mat-card>
              </div>
            </div>
          </div>

          <p *ngIf="(techServices$ | async)?.length === 0">No hay ningún servicio creado</p>
          <button
            type="button"
            color="primary"
            mat-fab
            class="add"
            *ngIf="!isEditing"
            (click)="onAddNew()"
          >
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>

        <div class="col-md-6">
          <span class="d-flex justify-content-between">
            <h2>Editor</h2>
            <span *ngIf="selectedTechService$ | async as selected" class="d-flex justify-content-end">
              <span>
                <button class="button-editor" mat-icon-button color="primary" *ngIf="!isEditing" (click)="onEditTechService(selected)">
                  <fa-icon [icon]="faEdit" matTooltipPosition="above">
                  </fa-icon>
                </button>
                <button class="button-editor" mat-icon-button color="warn" (click)="onDeleteTechService(selected)">
                  <fa-icon [icon]="faTrash" matTooltipPosition="above">
                  </fa-icon>
                </button>
                <button class="button-editor" mat-icon-button  (click)="onDeselectTechService()">
                  <fa-icon [icon]="faTimes" matTooltipPosition="above">
                  </fa-icon>
                </button>
              </span>
            </span>
          </span>

          <form [formGroup]="serviceFormGroup" [style.display]="isEditing ? 'block' : 'none'">
            <div class="row">
              <mat-form-field class="col">
                <input matInput placeholder="Título" formControlName="title" required autofocus>
              </mat-form-field>
            </div>
            <div class="row" >
              <mat-form-field class="col">
                <input matInput placeholder="Autor" formControlName="author" required>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col">
                <textarea matInput placeholder="Descripción" rows="5" formControlName="description"></textarea>
              </mat-form-field>
            </div>

            <mat-checkbox  color="primary" formControlName="checked"> Completado </mat-checkbox>

            <div class="row">
              <div class="col-12 d-flex justify-content-between">
                <button mat-raised-button (click)="onSaveTechService()" color="primary">
                  Guardar
                </button>
                <button mat-raised-button (click)="onCancelEditTechService()">
                  Cancelar
                </button>
              </div>
            </div>
          </form>

          <ng-container *ngIf="!isEditing">
            <div *ngIf="selectedTechService$ | async as selected; else noSelectedServiceTmpl">
              <h3 [ngClass]="{'title-done': selected.checked}">{{selected.title}}</h3>
              <mat-divider></mat-divider>
              <p>{{selected.description}}</p>
              <i>{{selected.author}}</i>
            </div>

            <ng-template #noSelectedServiceTmpl>
              <p>
                No se ha seleccionado ningun servicio
              </p>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
